/* Watch.css */
.watch-page {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
    background-color: #000;
}

.video-container {
    margin: 20px 0;
}

iframe {
    border: none;
}

.no-video {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

h1 {
    margin-top: 20px;
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.card-slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.card {
    padding: 10px;
    margin: 20px 20px;
    background-color: #222;
    border-radius: 10px;
    text-align: center;
    color: white;
}

h2 {
    color: #fff;
    margin: 0 30px;
}

.card img {
    width: 100%;
    min-height: 250px;
    max-height: 500px;
    border-radius: 10px;
}

.card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}

;