.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}
a{
    text-decoration: none;
}
.banner img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(70%);
}

.banner-info {
    position: relative;
    max-width: 600px;
    padding: 20px;
    left: 4%;
    top: 6%;
}

.hero-title {
    font-size: 38px;
    color: #fff;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #fff;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.play-btn {
    background-color: #e50914;
    color: #fff;
}

.info-btn {
    background-color: rgba(109, 109, 110, 0.7);
    color: #fff;
}

.btn img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.btn:hover {
    background-color: rgba(53, 53, 53, 0.61);
    color: #fff;
}