.card-slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.card {
    padding: 10px;
    margin: 20px 20px;
    background-color: #222;
    border-radius: 10px;
    text-align: center;
    color: white;
}

h2 {
    color: #fff;
    margin: 0 30px;
}

.card img {
    width: 100%;
    min-height: 250px;
    max-height: 500px;
    border-radius: 10px;
}

.card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
};